@using Eshop.ViewModels.Common
@model PagedResult<Eshop.ViewModels.Catalog.Products.ProductVm>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-6 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">

                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                    <option>All</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="cold-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>OriginPrice</th>
                            <th>Price</th>
                            <th>Description</th>
                            <th>DateCreated</th>
                            <th>Stock</th>
                            <th>ViewCount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OriginalPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ViewCount)
                            </td>
                            <td>
                                <div class="row">
                                    <button class="btn btn-primary col-lg-4">
                                        <i class="fas fa-fw fa-edit" ></i>
                                        @Html.ActionLink("", "Edit", new { id = item.Id })
                                    </button>
                                    <button class="btn btn-danger col-lg-4">
                                        <i class="fas fa-fw fa-trash"></i>
                                        @Html.ActionLink("", "Delete", new { id = item.Id })
                                    </button>
                                    <button class="btn btn-success col-lg-4">
                                        <i class="fas fa-fw fa-store"></i>
                                        @Html.ActionLink("", "CategoryAssign", new { id = item.Id })
                                    </button>
                                </div>
                               
                                
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>

</div>

